




<!--bottom-header-->
<!--start-breadcrumbs-->

<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-9 prdt-left">

        <%= render(
                partial: 'trgovina/show_pics',
                locals: { articles: @articles }
            ) %>

      </div>
      <%= form_for_filterrific @filterrific do |f| %>

          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>

    <div class="col-md-3 prdt-right">
        <div class="w_sidebar">



          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>



          <section class="sky-form">
            <h4>CIJENA</h4>
            <div>
              <%= f.text_field(
                      :min_cost,
                      class: 'form-control filterrific-periodically-observed', id: 'range', multiple: true
                  ) %>

            </div>
          </section>



        </div>
      </div>
      <% end %>
      <div class="clearfix"></div>

    </div>
  </div>
</div><!--product-end-->
<!--kraj sidebara -->
<!--product-end-->







