




<!--bottom-header-->
<!--start-breadcrumbs-->

<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-9 prdt-left">

        <%= render(
                partial: 'trgovina/show_pics',
                locals: { articles: @articles }
            ) %>

      </div>

      <div class="clearfix"></div>

    </div>
  </div>
</div><!--product-end-->
<!--kraj sidebara -->
<!--product-end-->







