<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Hi, <%= @user.name %>

It's my proradi molim te! <a href="http://puppify.aspiringwebdev.com/">jedi govna</a>!


Best,<br/>
Corey

</body>
</html>