<h1>Home#index</h1>

<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "Change your password", edit_user_registration_path %>

<%= link_to "nesto", 'http://eepurl.com/bKAcpT' %>#dodan za test paypala
</br>
<%= link_to "Account ", clients_show_path %>
