<div class="prdt" style="padding-top: 10px">
  <div class="container">
    <div class="page-header head-page">
      <h1>Izjava o privatnosti i sigurnosti podataka</h1>
    </div>
  <p>
    Tvrtka Argentum Vita će poštivati anonimnost i privatnost korisnika ove web stranice. Tvrtka Argentum Vita može prikupljati osobne podatke korisnika, kao što su ime, adresa, telefonski broj ili e-mail adresa samo ako korisnik iste dobrovoljno dostavi tvrtci Argentum Vita.
  </p>
  <p>
    Argentum Vita se obvezuje da će sve Vaše osobne podatke koristiti isključivo u svrhu kreiranja računa, kontakta s Vama, dostave kupljene robe i za ostale slične namjene.
  </p>
  <p>
    Argentum Vita obvezuje se da neće prodati, iznajmiti ili dijeliti Vaše podatke trećoj strani bez Vaše suglasnosti.
  </p>
  </div>
</div>