<div id="filterrific_results">

  <div class="about">
    <div class="container">
      <div class="about-top grid-1">
        <% subcategories.each do |subcategory| %>
            <div class="col-md-4 about-left">
              <%= link_to index_of_repromaterijal_index_path(id: subcategory.id) do %>
                  <figure class="effect-bubba shadow">
                    <%=image_tag("slika_kateg.jpg", class: "img-responsive" ) %>

                    <!--TODO: upisati naziv kategorije-->
                    <figcaption>
                      <h2><%= subcategory.title %></h2>
                      <p>Kratki opis kategorije</p>
                    </figcaption>
                  </figure>
              <% end %>
            </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>

<%= paginate subcategories %>