<div class="closewnd modal fade" id="LoginForm" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content -->

    <div class="modal-content">

      <form action="" class="sky-form">
        <header>Prijava</header>

        <fieldset>
          <section>
            <div class="row">
              <label class="label col col-4 skylabel">E-mail</label>
              <div class="col col-8">
                <label class="input">
                  <i class="icon-append icon-user"></i>
                  <input type="email">
                </label>
              </div>
            </div>
          </section>

          <section>
            <div class="row">
              <label class="label col col-4 skylabel">Lozinka</label>
              <div class="col col-8">
                <label class="input">
                  <i class="icon-append icon-lock"></i>
                  <input type="password">
                </label>
                <div class="note"><a href="#">Zaboravili ste lozinku?</a></div>
              </div>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="col col-4"></div>
              <div class="col col-8">
                <label class="checkbox">
                  <input type="checkbox" name="checkbox-inline" checked><i></i>Zapamti me</label>
              </div>
            </div>
          </section>
        </fieldset>
        <footer>
          <button type="submit" class="button">Prijava</button>
          <a class="button button-secondary closedlg" data-toggle="modal" data-target="#RegistrationForm">Registracija</a>
        </footer>
      </form>

    </div>

  </div>
</div>