<div id="boxes">

  <div id="dialog" class="window">

    <a href="#" class="close">X</a>


    <div class="row">

      <div class="col-md-4">
        <div class="dialog-srch srch">20%</div>
        <!--TODO: postotak na modal dialogu-->
        <div id="modal-photo" class="owl-carousel shadow">

          <div class="item"><%=image_tag("362.png", class: "Product_photo" ) %></div>
          <div class="item"><%=image_tag("362.png", class: "Product_photo" ) %></div>
          <div class="item"><%=image_tag("362.png", class: "Product_photo" ) %></div>

        </div>


      </div>

      <div class="col-md-7 details shadow">

        <div class="product-bottom">
          <div class="productboxkat">Naziv Kategorije</div>
          <div class="row">
            <div class="productbox"><a href="single.html">artikl</a></div>
            <div class="productboxprice"><span class=" item_price">cijena</span></div>
          </div>
          <div class="productboxopis">
            <p>Lorem ipsum dolor sit amet, eu duo elit lorem. Probo summo ne mea. Vis admodum accusam postulant te, te ubique epičurei has, pro sumo quot intellegebat eu. Cu insolens efficiendi eam. Et ius sale suscipit dignissim, sea ću utroque tacimates čonsetetur, čommune delicata sed ei. Et graeco iuvaret bonorum sea, neč te detracto sađipsčing eloquentiam, hiš ču altera sensibuš. Hinc veniam conceptam vel no, mel saperet euripiđiš honestatis te.</p>
          </div>
          <div class="row" style="margin-bottom:20px;">
            <div class="col-md-6">
              <div class="productboxcolor">Veličina* </div>
              <div class="styled-select">

                <select class="ddboje">
                  <option>6</option>
                  <option>6,5</option>
                  <option>7</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="boje">
                <p id="P_2">
                  Boja*
                </p>
                <a href="#" id="boja1"></a>
                <a href="#" id="boja2"></a>
                <a href="#" id="boja3"></a>
                <a href="#" id="boja4"></a>
                <a href="#" id="boja5"></a>
              </div>
              <!--<div class="productboxcolor">boja artikla: </div>
              <div class="styled-select">

                  <select class="ddboje">
                      <option>Ljubičasta</option>
                      <option>Narančasta</option>
                      <option>Bijela</option>
                  </select>
              </div>-->
            </div>

          </div>

          <div class="row" style="margin-bottom:30px;">
            <div class="col-md-6 productboxcart" style="margin-top:20px;">
              <div class="hcart">
                <h4><a onclick="notice1Sec()" class="item_add" ><i></i><span> Dodaj u košaricu</span></a></h4>

              </div>
            </div>

            <div class="col-md-6 productboxcart">
              <div class="productboxcolor">Količina*</div>
              <div class="styled-select">

                <select class="ddboje">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

  <!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>